/*selectores por clase*/
a.bordermenu{
    border-width: 5px;
    border-color:red;
    border-style: groove;
    background-color: greenyellow;
    float: left;
    margin: 5px;
    border-radius: 10px;

}

/*selectores por etiquetas*/
header, footer{
    border-color:yellow;
    border-style: groove;
    margin: 5px;
    background-color: aqua;
    border-radius: 10px;
    float: left;
    border: 1%
}

/*selectores por clase*/
nav.bordermenunav{
    margin: 5px;
   background-color: yellow;
    border-width: 5px;
    border-color:blue;
    border-style: groove;
    border-radius: 10px;
    float: left
}

/*selectores por id*/
nav#bordermenunave{
    margin: 5px;
   background-color: yellowgreen;
    border-width: 5px;
    border-color:blue;
    border-style: groove;
    border-radius: 10px;
    float: left
}

/*selectores por clase*/
section.bordersec{
    border-width: 5px;
    border-color:red;
    border-style: groove;
    background-color: greenyellow;
    float: left;
    margin: 5px;
    border-radius: 10px;
}

/*selectores por clase*/
.thrcolumn{
    border-width: 5px;
    border-color:red;
    border-style: groove;
    background-color:#E9AC15;
    float: left;
    margin: 5px;
    border-radius: 10px;
}

/*selectores descendentes*/
dt span{
    color: #5C584E;
}


