/*selectores por clase*/
a.bordermenu{
    border-width: 5px;
    border-color:red;
    border-style: groove;
    background-color:#398E87;
    float: left;
    margin: 5px;
    border-radius: 10px;

}

/*selectores por etiquetas*/
header, footer{
    border-color:yellow;
    border-style: groove;
    margin: 5px;
    background-color:#48AF72;
    border-radius: 10px;
    float: left;
    border: 1%
}

/*selectores por clase*/
nav.bordermenunav{
    margin: 5px;
   background-color:#4DB63F;
    border-width: 5px;
    border-color:blue;
    border-style: groove;
    border-radius: 10px;
    float: left;


}

/*selectores por id*/
nav#bordermenunave{
    margin: 5px;
   background-color: #B06D41;
    border-width: 5px;
    border-color:blue;
    border-style: groove;
    border-radius: 10px;
    float: left;


}

/*selectores por clase*/
section.bordersec{
    border-width: 5px;
    border-color:red;
    border-style: groove;
    background-color: #55AE9F;
    float: left;
    margin: 5px;
    border-radius: 10px;
}

/*selectores por clase*/
.thrcolumn{
    border-width: 5px;
    border-color:red;
    border-style: groove;
    background-color:#E9AC15;
    float: left;
    margin: 5px;
    border-radius: 10px;
}

/*selectores descendentes*/
dt span{
    color: #5C584E;
    font-family: "Arial Narrow" , Arial, sans-serif;
}

/*selectores por id*/
dt#tipolet{
    color: #3E8C07;
    font-family: "Times New Roman";
}

/*selectores descendentes*/
section article span dt{
    color: #802308;
    font-family: "Algerian" 
}

.dd:first-letter{
    text-transform: uppercase
    
}



